.call-out {
  padding: $callout-container-lateral-spacing-mobile 0;

  &__headline {
    margin-bottom: $callout-headline-margin-bottom;
  }

  &__section {
    flex-basis: 50%;

    img {
      max-width: 100%;
    }
  }

  @include breakpoint($mobile) {
    padding: $callout-container-lateral-spacing 0;
  }
}
