.footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 30px 0;

  &__follow-us {
    img {
      margin-left: 10px;
    }
  }

  &__copyright {
    margin-bottom: $footer-copyright-mobile-bottom-spacing;

    @include breakpoint($mobile) {
      margin-bottom: 0;
    }
  }
}
