.header {
  background-color: $jet-black;
  left: 0;
  padding: $header-lateral-padding 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  &__account-menu {
    margin: 0;
    padding: 0;
  }

  &__account-menu-items {
    list-style: none;
    margin: 0 $header-links-spacing;

    &:last-child {
      margin-right: 0;
    }
  }

  &__account-menu-links {
    color: $header-links-text-color;
    text-decoration: none;
    transition: $header-links-transition;

    &:hover,
    &.active {
      color: $white;
    }

    .icon {
      margin-right: $header-button-icon-spacing;
      position: relative;
      top: 1px;
    }
  }

  &__right-menu {
    line-height: 0;

    .icon {
      position: relative;
      top: 3px;
    }
  }

  &__hamburger-menu {
    line-height: 0;
    padding: $header-hamburger-icon-padding;
  }

  &__hamburger-menu-icon {
    display: inline-block;
    height: $header-hamburger-icon-dimension;
    position: relative;
    width: $header-hamburger-icon-dimension;

    &::before {
      background: $header-hamburger-icon-color;
      box-shadow:
        0 0.425em 0 0 $header-hamburger-icon-color,
        0 0.85em 0 0 $header-hamburger-icon-color;
      content: '';
      height: 0.2em;
      left: 0;
      position: absolute;
      top: 0;
      width: 1rem;
    }
  }

  &__stacked-menu-bar {
    background-color: $header-hamburger-menu-bg-color;
    bottom: 0;
    left: 0;
    left: -#{$header-hamburger-menu-width};
    padding: $header-hamburger-menu-padding * 2 0 $header-hamburger-menu-padding;
    position: fixed;
    top: $header-height;
    transition: $transition;
    width: $header-hamburger-menu-width;
    z-index: 2;

    .menu-open & {
      left: 0;
    }

    .header__account-menu-links {
      color: $header-hamburger-menu-link-color;
      display: inline-block;
      padding: $header-hamburger-menu-link-padding 0;
    }
  }

  &__close-btn {
    padding: $header-hamburger-close-icon-padding;
    position: absolute;
    right: $header-hamburger-close-icon-alignment-x;
    top: $header-hamburger-close-icon-alignment-y;
  }

  &__close-icon {
    display: inline-block;
    height: $header-hamburger-close-icon-size;
    position: relative;
    width: $header-hamburger-close-icon-size;

    &::before,
    &::after {
      background-color: $header-hamburger-close-icon-color;
      content: '';
      height: $header-hamburger-close-icon-size;
      left: $header-hamburger-close-icon-size / 2;
      position: absolute;
      width: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include breakpoint($mobile) {
    position: relative;
  }
}
