// Layout
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

// Flexbox
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-grow-full {
  flex-grow: 1;
}

// Buttons
.btn {
  align-items: center;
  border-radius: $button-border-radius;
  color: $white !important;
  display: inline-flex;
  padding: $button-padding-x $button-padding-y;
}

.btn--primary {
  background-color: $primary;
}

// Icons
.icon {
  background-position: center;
  background-repeat: no-repeat;
  height: $line-height-base * 1rem;
  width: $line-height-base * 1rem;
}

.icon--get-in-touch {
  background-image: url('/build/assets/images/get-in-touch.svg');
  margin-right: 5px;
  position: relative;
  top: 1px;
}

// Miscellaneous
.light-bg {
  background-color: $light-bg;
}

.text-center {
  text-align: center;
}
