/**
 * Contains variable declerations.
 */

$white:                        #fff;

$font-family-base:             'Lucida Sans', 'sans-serif';
$line-height-base:              1.5;
$font-size-base:                16px;

$body-bg:                      $white;
